body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    color: #232536;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #232536;
    color: white;
    padding: 15px 30px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
  }
  
  .nav-links li a:hover {
    color: #ebad49;
  }
  
  .footer {
    text-align: center;
    padding: 20px;
    background-color: #232536;
    color: white;
  }
  